/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Mochiy+Pop+P+One&family=Rubik+Glitch+Pop&display=swap');


*{
  font-family: "Alegreya", serif;
}
/* .form-inline{
  width: 500px;
  border: 2px solid ;
  padding: 20px 15px;
  text-align: center;
  color: purple;
}
#form-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height:700px;
  flex-direction: column;
}
#form-div h3{
  text-align: center;
  color:purple;
} */

.container{

display: flex;
justify-content: space-between;

}

.custom-table{
 border: 3px solid pink;
 color: red;
 
}
#Dep{
  border: 4px solid black;
  
  text-align: center;
  /* background-color: aqua; */
  /* text-shadow: 0 0 3px #FF0000; */
  text-shadow: 0 0 3px #FF0000;
  
  
  }
  
  #form-div{
    
    padding: 20px;
  }

  .create-btn {
    text-align: center;
  }

  #form-div{
  
    padding: 20px;
  }
  #with{
    border: 4px solid black;
  text-align: center;
  /* background-color: aqua; */
  /* text-shadow: 0 0 3px #FF0000; */
  text-shadow: 0 0 3px #FF0000;
  }
  h2{
    border: 4px solid black;
  text-align: center;
  width: 1530px;
  height: 50px;
  /* background-color: aqua; */
  /* text-shadow: 0 0 3px #FF0000; */
  text-shadow: 0 0 3px #FF0000;
  }

.table-parent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.table-parent tbody tr td{
  color:#fff;
  background-color:lightgray;
}
.table-parent thead tr th{
  background-color:gray
}

.nav-item::after{
content:'';
width: 0%;
height: 2px;
background-color: #fff;
display: block;
}
.nav-item:hover::after{
  width: 100%;

}

.nav-item .nav-link{
  color: #f6eded;
  font-size: medium;
}
.nav-item .nav-link:hover{
  color:#f4eeee;
  /* color: #9d75cf; */
}
.nav-item .active{
  opacity: 0.5;
}
.nav-item{
  font-size: 25px;
}

/* home page */


#main-page{
width: 100%;
/* background-color: #a095af; */
position: relative;
height: 100vh;
display: flex;
justify-content: space-around;
align-items: center;
}
#main-page  #words h1{
  color:red;
  font-size: 72px;
}
#main-page  #words h4{
  color: red;
}
#main-page  #words{
  width: 40%;
}
#main-page #cardDiv{

width: 40%;

}
/* #home-btn{
border: none;
background-color:red;
padding: 20px;
border-radius: 50px;
font-size: 30px;
color: white;
} */

#main-page #cardDiv img{
  /* height: 100%; */
  /* border-radius: 60px 20px 60px 20px; */
}
#main-page #cardDiv #card{
  overflow: hidden;
  border-radius: 60px 20px 60px 20px;
  
}


/* .home-page{
width:100%;
height: 88vh;
overflow: hidden;
} */


.homeBg{
  width: 100%;
  height:88vh;
  overflow: hidden;
  display: flex;
  padding: 40px 30px 40px 30px;
  justify-content: center;
  align-items: center;
  /* background: url(./images/newPic2.jpg); */
  /* background-color: black; */
  position: relative;
}

.home-card{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: translateY(50%); */
  overflow: hidden;
  white-space: nowrap;
  
}


.home-card h6{
  animation: fadein 2s;
}

@keyframes fadein{
  from{
    opacity:0
  }
  50%{
    opacity: .5;
  }
  to{
    opacity: 1;
  }
}

.home-card h1{
color :red
}

/* .overLay{
  height: fit-content;
  background-color: none;
  border: none; */

  /* display: flex;
  justify-content: center;
  align-items: center; */
 
/* } */
/* .overLay h2{
  color: #6215c0;
  background: transparent;
} */
/* .homeBg img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: .4;
  
} */

.home-carosel{
  position: absolute;
  width: 100%;
  height: 89vh;
}
.home-carosel img{
  height: 89vh;
  opacity: .8;
  
}
.img{
  width:1300px; 
/* height: 100px; */
}

.home-flex{
  display: flex;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
}
.my-card{
  width: 100%;
  height: 100%;
  /* width: 100%; */
}

img{
  height: 400px;
  
}
#hom{
 font-size: 50px;
 font-family: 'Times New Roman', Times, serif;
 color: rebeccapurple;
 
 border: 4px solid purple;
  text-align: center;
  width: 100%;
  height: 70px;
  /* background-color: aqua; */
  /* text-shadow: 0 0 3px #FF0000; */
  text-shadow: 0 0 3px #FF0000;
}

.home-page{
  position: absolute;
  top: 96px;
  display: flex;
  height: 88vh;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
}
.clo{
  background-color: black;
}
.img{

width: 100%;
height: 83vh;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(146, 36, 36, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.overlay-card{
  background-color: black;

}

.overlay h2 {
  background-color: none;
  font-size: 100px;
  margin-bottom: 10px;
  color: red;

  text-align: left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 100%;
  border-right: .15em solid red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 /* letter-spacing: .15em;   */
  animation: 
    typing 3.5s steps(20, end),
    blink-caret .75s step-end infinite ;
}

.overlay p {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

/* img{
  width: 50%;
  /* opacity: .9; */
  /* height: 100%; 
} */

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.carousel-overlay img {
  width: 900px; /* Adjust size as needed */
  height: 900px;
}


.home-card h1 {
  text-align: left;
  font-size: 84px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 100%;
  border-right: .15em solid red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 /* letter-spacing: .15em;   */
  animation: 
    typing 3.5s steps(20, end),
    blink-caret .75s step-end infinite ;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: red; }
}
/* .home-img .img-cover{
  position: absolute;
  left: 0;
  top: 92px;
  width: 100%;
  height: 88.5%;
  background-color: rgba(255,255,255,.7);
} */
.img-cover h1{
  color: purple;
  text-align:  center;
}

.create-btn-parent{
  display: flex;
  justify-content: space-around;
}


/* create form */

@media screen and (max-width:500px){
  .form-inline{
    width: 350px;
    margin: 5px;
  }
  .overlay h2{
    width: 70%;
    text-align: center;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red; }
  }
  

}
@media screen and (max-width:960px){
  .home-page{
    flex-direction: column;
   
  }
  .overlay h2{
    font-size: 56px;
  }
  .overlay p{
    font-size: 16px;
  }
}
@media screen and (max-width:600px){
  .form-inline{
    width: 400px;
  }
  .home-page{
    padding: 0px 10px;
  }
  .overlay h2{
    font-size: 30px;
  }
  .overlay p{
    font-size: 14px;
  }
}






